.logo{
display:block;
margin:40px auto 20px auto;
max-width:300px;
height:auto;
}

body{
max-width:1000px;
margin:auto;
padding:20px;
font-family:Georgia, serif;
line-height:1.8;
color:#333;
}

header{
text-align:center;
}

.about{
margin-top:40px;
}

h1{
color:#1f3d2b;
}

h2{
color:#8b6b1f;
}

ul li{
margin-bottom:10px;
}
